.avatar-wrapper {
	width: 80px;
}

.avatar {
	width: 80px;
	height: 80px;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
}

.archer .avatar{ background-image: url(../img/troops/archer.jpg); }


.star-bar {
	position: absolute;
	bottom: 0;
}

.star {
	width: 11px;
	height: 12px;
	background-image: url(../img/other/purple_star.png);
	display: inline-block;
}

	.star:first-child { margin-left: 4px; }
